* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body,
#app,
#app > div {
  height: 100%;
  background-color: rgb(35, 39, 41);
}

textarea {
  background-color: rgb(121, 171, 231);
  border-radius: 5px;
  color: black;
}

button {
  color: black;
  border-radius: 5px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.all-header-buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.header-buttons {
  width: 20%;
}

.page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(58, 64, 65);
}

.entire-screen {
  height: 100%;
}

.contents {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.input,
.contents-card {
  margin: 5%;
  width: 100%;
}

.header {
  color: rgb(107, 215, 163);
  font-weight: normal;
}

.form {
  width: 80%;
  margin: 5%;
  color: white;
  grid-gap: 0.7em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.name-text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.name-input {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.cost-text {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.cost-input {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.add-button {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: 4em;
}

.stats {
  width: 80%;
  margin: 5%;
  color: white;
}

.contents-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expenses-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.card {
  border: solid 2px rgb(107, 215, 163);
  width: 75%;
  display: flex;
  height: 4em;
  justify-content: space-between;
  padding: 0.5em;
}

.card-text {
  color: white;
  align-self: center;
}

.card-name {
  display: flex;
  gap: 0.4em;
}

.card-name-text {
  font-weight: bold;
}

.card-cost {
  display: flex;
  gap: 0.4em;
}

.card-cost-text {
  font-weight: bold;
}

.icon {
  color: red;
}

.admin-button {
  width: 80%;
  margin: 5%;
}

/* Game reviews */

.form-name-input {
  background-color: rgb(121, 171, 231);
  border-radius: 5px;
  color: black;
}

.review-image {
  width: 70%;
  display: inline-block;
}

.entire-list {
  color: rgb(121, 171, 231);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid rgb(121, 171, 231);
  gap: 20px;
}

.text-content {
  width: 70%;
}

.review-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.form-container {
  color: rgb(121, 171, 231);

  width: 100%;
  border-bottom: 1px solid rgb(121, 171, 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  width: 50%;
}

.form-name {
  grid-column: 1 / 3;
  grid-row: 1/3;
}

.form-name-input {
  width: 50%;
}

.form-description {
  grid-column: 1 / 3;
  grid-row: 3 / 6;
}

.form-description-input {
  height: 100%;
  width: 100%;
}

.form-rating {
  grid-column: 1 / 2;
  grid-row: 7 / 9;
}

.form-image {
  grid-column: 2 / 3;
  grid-row: 7 / 9;
}

.form-submit {
  grid-column: 1/2;
  grid-row: 9 / 10;
}

.image-and-button {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.delete-button {
  height: 40px;
  width: 40px;
  align-self: flex-start;
}
.entire-cv {
  background-color: rgb(36, 36, 57);
  margin: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.cd-header {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 3px solid rgb(147, 169, 205);
}

.cv-image {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  overflow: hidden;
  object-fit: contain;
  flex-shrink: 0;
}

.cv-name {
  margin-bottom: 0px;
}

.cv-about-me {
  padding-left: 15px;
  margin-top: 10px;
  font-size: larger;
  font-weight: 100;
}

.cv-previous-jobs {
  padding: 15px 30px;
}

.cv-individual-job {
  margin: 50px auto;
}

.cv-title {
  color: white;
  margin-bottom: 0px;
  font-size: 25px;
}

.cv-time-at-work {
  margin: 0px;
  padding: 5px;
  color: rgb(182, 126, 251);
  font-size: large;
}

.cv-job-description {
  margin-top: 10px;
  color: grey;
  padding-left: 15px;
}
